Enter Chat and press enter
<div><input id=input placeholder=you-chat-here /></div>

Chat Output
<div id=box></div>

<script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.11.min.js></script>
<script>(function(){
      var pubnub = new PubNub({ publishKey : 'pub-c-17de5725-b7d2-4641-bb49-67f4c7e2c0a6', subscribeKey : 'sub-c-7d0d87ba-a432-11e7-a212-8232928978ad' });
      function $(id) { return document.getElementById(id); }
      var box = $('box'), input = $('input'), channel = '10chat-demo';
      pubnub.addListener({
          message: function(obj) {
              box.innerHTML = (''+obj.message).replace( /[<>]/g, '' ) + '<br>' + box.innerHTML
          }});
      pubnub.subscribe({channels:[channel]});
      input.addEventListener('keyup', function(e) {
          if ((e.keyCode || e.charCode) === 13) {
            pubnub.publish({channel : channel,message : input.value,x : (input.value='')});
        }
      });
})();</script>